<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Smartosc_Bundlepotimage::bundlepotimage" title="Bundle&amp;Pot Images" module="Smartosc_Bundlepotimage" sortOrder="150" parent="Magento_Backend::mgs" resource="Smartosc_Bundlepotimage::bundlepotimage"/>

		<add id="Smartosc_Bundlepotimage::manage" title="Manage Preview Images" module="Smartosc_Bundlepotimage" sortOrder="10" parent="Smartosc_Bundlepotimage::bundlepotimage" action="adminhtml/bundlepotimage/" resource="Smartosc_Bundlepotimage::manage"/>
    </menu>
</config>
