<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smartosc_customer_password>
            <password>
                <regular_expression>[0-9]+</regular_expression>
            </password>
        </smartosc_customer_password>
    </default>
</config>
