<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="repotted_option" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Repotted Option</label>
            <tab>smartosc_mpanel</tab>
            <resource>Smartosc_Mpanel::system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Repotted Option</label>
                <field id="repotted_option_names" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repotted Option Names</label>
                    <comment>Repotted option names are separated by ",". (Ex: Repot,Repotting,Re potted service...)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
